.CardForm {
  margin-bottom: 20px;
  margin-bottom: 30px;

  position: relative;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1);
}

.CardForm--expanded {
  box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.CardForm-icon {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;

  left: 0;
  position: absolute;

  color: #4285f4;
  cursor: pointer;
  z-index: 1;
}

.CardForm-input {
  border: none;
  height: 56px;
  padding: 0 16px;
  width: 100%;

  outline: none;
}

.CardForm-button {
  border: none;
  padding: 0 20px;

  color: #4285f4;
  cursor: pointer;
  outline: none;
}

.CardForm-button[disabled] {
  color: #ddd;
  pointer-events: none;
}

.CardForm-button--error {
  color: red;
}

.CardForm-hidden {
  display: flex;

  overflow: hidden;
}

.CardForm--expanded .CardForm-hidden {
  border-top: 1px solid #f1f1f1;
}

.CardForm .FormInput {
  position: relative;
}

.CardForm-hidden .FormInput {
  flex-grow: 1;
}

.CardForm .FormError {
  bottom: 2px;
  left: 16px;
  position: absolute;

  font-size: 11px;

  color: red;
}