.Login {
  margin: auto;
  max-width: 400px;
  padding: 20px 20px 40px;
}

.Login-title {
  margin-top: 0;

  font-weight: 200;

  text-align: center;
}

.Login-description {
  font-size: 14px;

  line-height: 24px;
  text-align: center;
}

.Login-description strong {
  font-weight: 600;
}

.Login-description a {
  color: #4285f4;
}

.Login .FormError {
  font-size: 12px;

  color: red;
  text-align: center;
}

.Login-input {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  display: block;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  width: 260px;

  font-size: 14px;
  font-weight: 400;

  outline: none;
  text-align: center;

  transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
}

.Login-input--loading {
  border-bottom-color: #eee;
  color: #ccc;
  pointer-events: none;
}

.Login-input:focus {
  border-bottom-color: #292b2c;
}

.Login-input::-webkit-input-placeholder {
  color: #aaa;
}
