:local(.button) {
  position: relative;
}

:local(.indicator) {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;

  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

:local(.text) {
  color: rgba(255, 255, 255, 0);
  opacity: 0;
}